@import "../../styles/breakpoints";
@import "../../styles/variables";
@import "../../styles/mixins";

.Sponsors {
    padding: 5rem 4rem;
    background-color: $primary-100;
    position: absolute;
    width: 100%;

    .container {
        display: flex;
        align-items: center;
        justify-content: flex-start !important;
        gap: 20rem;
        width: 100%;

        img {
            height: 3rem;
        }

        & :last-child {
            height: 5rem;
        }
    }
}
